<h2><%= t ".list_user" %></h2>
<table class="table">
  <thead>
  	<tr>
  		<th>STT</th>
  		<th>Name</th>
  		<th>Email</th>
  		<th>Address</th>
  	</tr>
  </thead>
  <tbody>
  	<% @users.each_with_index do |user, index| %>
	  	<tr id="row_<%= user.id %>">
	  		<%= render "user", user: user, count: index %>
	  	</tr>
  	<% end %>
  </tbody>
</table>
<div class="center">
	<%= will_paginate @users, renderer: BootstrapPagination::Rails %>
</div>